{% extends "base.html" %}

{% block content %}
    <h2 class="page-title">Settings</h2>
    <form action="{{ url_for('update_settings') }}" method="post">
        <div class="mb-3">
            <label for="upload_folder" class="form-label">Upload Folder Path</label>
            <input type="text" class="form-control" id="upload_folder" name="upload_folder" value="{{ upload_folder }}" required>
            <div class="form-text">Specify the path to the folder containing the physical file evidence.</div>
        </div>
        <button type="submit" class="btn btn-primary" name="upload_folder">Save Changes</button>
    </form>
    <form action="{{ url_for('update_settings') }}" method="post">
        <div class="mb-3">
            <label for="csv_path" class="form-label">CSV Importing</label>
            <input type="text" class="form-control" id="csv_path" name="csv_path" value="{{ csv_path }}" required>
            <div class="form-text">Specify the path to the csv file.</div>
            <a href="https://github.com/ifBars/garnet-report-database/blob/main/reports.csv" target="_blank" style="color: blue; text-decoration: underline;">Your CSV file must be formatted like this!</a>
        </div>
        <button type="submit" class="btn btn-primary" name="import_csv">Import CSV Data</button>
    </form>
    <form action="{{ url_for('scrape_bans') }}" method="post">
        <div class="mb-3">
            <label for="steam_id" class="form-label">Ban Importing</label>
            <input type="text" class="form-control" id="steam_id" name="steam_id" value="{{ steam_id }}" required>
            <div class="form-text">Specify your steam ID.</div>
            <a href="https://steamid.io/" target="_blank" style="color: blue; text-decoration: underline;">You can find your steam ID here</a>
        </div>
        <button type="submit" class="btn btn-primary" name="import_bans">Import Bans</button>
    </form>
    <form action="{{ url_for('save_hotkey')  }}" method="post">
        <div class="mb-3">
            <label for="shortcut" class="form-label">Add Report Hotkey</label>
            <input id="shortcut" class="form-control" type="text" name="shortcut" placeholder="Enter your hotkey (e.g., CmdOrCtrl+R)">
            <div class="form-text">Customize the add report hotkey.</div>
        </div>
        <button type="submit" class="btn btn-primary" name="save_hotkey">Save Hotkey</button>
    </form>
    <div class="theme-switch">
        <label for="themeSelect">Select Theme:</label>
        <select id="themeSelect" onchange="changeTheme()">
            <option value="light">Light Mode</option>
            <option value="dark">Dark Mode</option>
            <option value="garnet">Garnet Mode</option>
            <option value="sapphire">Sapphire Mode</option>
            <option value="amber">Amber Mode</option>
        </select>
    </div>
    
    <script>
        // Function to handle theme change from the dropdown
        function changeTheme() {
            const themeSelect = document.getElementById('themeSelect');
            const selectedTheme = themeSelect.value; // Get the selected theme value
            localStorage.setItem('theme', selectedTheme); // Save the selected theme in localStorage
            applyTheme(selectedTheme); // Apply the theme immediately
        }

        // On page load, set the dropdown value based on the saved theme
        document.addEventListener('DOMContentLoaded', function() {
            const savedTheme = localStorage.getItem('theme') || 'light'; // Default to light theme
            document.getElementById('themeSelect').value = savedTheme; // Set the dropdown value
            applyTheme(savedTheme); // Apply the theme when the page loads
        });
    </script>
{% endblock %}
